<%= form_with model:(@question.new_record? ? [@test, @question] : @question) do |form| %>
  <div class="field">
    <%= form.label :body %>
    <%= form.text_area :body %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
  <%= render 'shared/errors', resource: @question %>
<% end %>
