<%= form_with model:(@question.new_record? ? [@test, @question] : @question) do |form| %>
  <div class="field">
    <%= form.label :body %>
    <%= form.text_area :body %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
  <% if @question.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(test.errors.count, "error") %> prohibited this test from being saved:</h2>
      <ul>
        <% @question.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
<% end %>
