<%= form_with model: [:admin, @badge], local: true do |form| %>
  <div class="card shadow mb-3">
    <div class="card-header">
      <h2><%= @badge.new_record? ? t('admin.badges.new_title') : t('admin.badges.edit_title') %></h2>
    </div>
    <div class="card-body">
      <div class="form-group">
        <%= form.label :title, t('admin.badges.form.title'), class: "form-label" %>
        <%= form.text_field :title, class: "form-control" %>
      </div>

      <div class="form-group">
        <%= form.label :description, t('admin.badges.form.description'), class: "form-label" %>
        <%= form.text_area :description, class: "form-control" %>
      </div>

      <div class="form-group">
        <%= form.label :image, t('admin.badges.form.image'), class: "form-label" %>
        <%= form.file_field :image, class: "form-control" %>
      </div>

      <div class="form-group">
        <%= form.label :rule, t('admin.badges.form.rule'), class: "form-label" %>
        <%= form.select :rule, Badge.rules.keys.map { |r| [r.humanize, r] }, {}, { class: "form-control" } %>
      </div>

      <div class="form-group">
        <%= form.label :rule_value, t('admin.badges.form.rule_value'), class: "form-label" %>
        <%= form.text_field :rule_value, class: "form-control" %>
      </div>

      <div class="form-group mt-3">
        <%= form.submit @badge.new_record? ? t('shared.actions.create') : t('shared.actions.update'), class: "btn btn-primary" %>
      </div>
    </div>
  </div>
<% end %>
