<h1>User Test Details</h1>

<p>User: <%= @user_test.user.name %></p>
<p>Test: <%= @user_test.test.title %></p>
<p>Status: <%= @user_test.status %></p>

<%= link_to 'Edit', edit_user_test_path(@user_test) %>
<%= link_to 'Back to User Tests', user_tests_path %>
