<h1><%= t('.header', title: @test_passage.test.title) %></h1>
<h2 class="mt-4"><%= t('.subheader') %></h2>

<div class="card shadow mb-4">
  <div class="card-body">
    <p >
      <%= test_result_message(@test_passage) %>
    </p>

    <% if @awarded_badges.any? %>
      <div class="awarded-badges mt-4">
        <h3><%= t('.awarded_badges') %></h3>
        <div class="row">
          <% @awarded_badges.each do |badge| %>
            <div class="col-md-4 mb-3">
              <div class="card h-100">
                <div class="card-header text-center">
                  <%= badge.title %>
                </div>
                <div class="card-body text-center">
                  <% if badge.image.attached? %>
                    <%= image_tag badge.image, alt: badge.title, class: 'img-fluid' %>
                  <% else %>
                    <span class="text-muted"><%= t('.no_image') %></span>
                  <% end %>
                </div>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    <% else %>
      <p class="mt-3"><%= t('.no_badges_awarded') %></p>
    <% end %>


    <%= link_to t('.all_tests'), tests_path, class: "btn btn-primary" %>
  </div>
</div>
