<%= form_with model: [@question, @answer] do |form| %>
  <h1><%= form_header(@answer) %> for question "<%= @answer.question.body %>"</h1>

  <%= render 'shared/errors', resource: @answer %>

  <p class="field">
    <%= form.text_area :body %>
  </p>

  <p class="field">
    <%= form.label :correct %>
    <%= form.check_box :correct %>
  </p>

  <p class="actions">
    <%= form.submit %>
  </p>
<% end %>
