<h1><%= t('admin.answers.index.header', question: @question.body) %></h1>

<table>
  <thead>
  <tr>
    <th><%= t('admin.answers.index.title') %></th>
    <th><%= t('admin.answers.index.correct') %></th>
    <th><%= t('admin.answers.index.actions') %></th>
  </tr>
  </thead>
  <tbody>
  <%= render @answers %>
  </tbody>
</table>

<%= link_to t('admin.answers.index.new_answer'), new_admin_question_answer_path(@question) %>
<%= link_to t('.back_to_questions'), admin_test_questions_path(@question.test) %>
