<%= form_with model: [:admin, @test, @question], local: true do |form| %>
  <div class="card shadow">
    <div class="card-header">
      <h1><%= form_header(@question) %> <%= t('admin.questions.for_test', test: @question.test.title) %></h1>
    </div>
    <div class="card-body">
      <%= render 'shared/errors', resource: @question %>

      <div class="form-group">
        <%= form.label :body, class: "form-label" %>
        <%= form.text_area :body, class: "form-control" %>
      </div>

      <div class="form-group mt-3">
        <%= form.submit class: "btn btn-primary" %>
      </div>
    </div>
  </div>
<% end %>
