<h1><%= t('admin.questions.index.header', test: @test.title) %></h1>

<table>
  <thead>
  <tr>
    <th><%= t('admin.questions.index.body') %></th>
    <th><%= t('admin.questions.index.actions') %></th>
  </tr>
  </thead>
  <tbody>
  <%= render @questions %>
  </tbody>
</table>
<p>
  |  <%= link_to t('admin.questions.index.new_question'), new_admin_test_question_path(@test) %>  |
  <%= link_to t('admin.tests.back_to_tests'), admin_tests_path %>  |
</p>
