<h1>Categories</h1>

<table>
  <thead>
  <tr>
    <th><%= t('admin.categories.index.title') %></th>
    <th><%= t('admin.categories.index.actions') %></th>
  </tr>
  </thead>
  <tbody>
<%= render @categories %>
  </tbody>
</table>

<%= link_to t('admin.categories.index.new_category'), new_admin_category_path %>
<%= link_to t('admin.categories.index.back_to_tests'), admin_tests_path %>
