<h1><%= t('admin.categories.index.header') %></h1>

<table class="shadow rounded">
  <thead>
  <tr>
    <th><%= t('admin.categories.index.title') %></th>
    <th><%= t('admin.categories.index.actions') %></th>
  </tr>
  </thead>
  <tbody>
  <%= render @categories %>
  </tbody>
</table>

<div class="my-3">
  <%= link_to t('admin.categories.index.new_category'), new_admin_category_path, class: 'btn btn-secondary' %>
  <%= link_to t('admin.categories.index.back_to_tests'), admin_tests_path, class: 'btn btn-secondary' %>
</div>
