<h1><%=  t('.header')%></h1>

<table>
  <thead>
  <tr>
    <th><%= t('.title') %></th>
    <th><%= t('.level') %></th>
    <th><%= t('.questions_total') %></th>
    <th><%= t('.author') %></th>
    <th><%= t('.actions') %></th>
  </tr>
  </thead>
  <tbody>
  <%= render @tests %>
  </tbody>
</table>
<p>
  |  <%= link_to t('.new_test'), new_admin_test_path %>  |
  <%= link_to t('.categories'), admin_categories_path %>  |
</p>
