<h1><%= t(".header") %></h1>
<table data-controller="sort" data-sort-target="sortable" class="shadow rounded">
  <thead>
  <tr>
    <th><a href="#" data-action="click->sort#sort" data-column="title" data-order="asc"><%= t(".title") %></a></th>
    <th><%= t(".level") %></th>
    <th><%= t(".questions_total") %></th>
    <th><%= t(".actions") %></th>
  </tr>
  </thead>
  <tbody>
  <% @tests.each do |test| %>
    <%= render partial: 'test', locals: { test: test, row_class: cycle('odd', 'even') } %>
  <% end %>
  </tbody>
</table>
