<h1><%= t(".header") %></h1>
<table class="shadow rounded">
  <thead>
  <tr>
    <th><%= t(".title") %></th>
    <th><%= t(".level") %></th>
    <th><%= t(".questions_total") %></th>
    <th><%= t(".actions") %></th>
  </tr>
  </thead>
  <tbody>
  <% @tests.each do |test| %>
    <%= render partial: 'test', locals: { test: test, row_class: cycle('odd', 'even') } %>
  <% end %>
  </tbody>
</table>
