<!DOCTYPE html>
<html>
<head>
  <title><%= t('layout.header.title') %></title>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
  <%= javascript_importmap_tags %>
</head>

<body>
<header>
  <nav>
    <%= link_to t('layout.header.title'), root_path %>
    <% if user_signed_in? %>
      <p class="nav user">
        <%= t('layout.header.welcome', name: current_user.full_name) %>
        <%= link_to t('layout.header.logout'), destroy_user_session_path, data: { turbo_method: :delete } %>
      </p>
      <% if current_user.admin? %>
        <%= link_to t('layout.header.admin_tests'), admin_tests_path %>
      <% end %>
    <% else %>
      <%= link_to t('layout.header.login'), new_user_session_path %>
    <% end %>
  </nav>
</header>

<main>
  <%= yield %>
  <%= flash_messages %>
</main>

<footer>
  <p>&copy;<%= t('layout.footer.copyright', year: current_year) %></p>
  <p>
    <%= github_url('vitaly-andr', 'test-guru', t('layout.footer.github')) %>
  </p>
  <p>
    <%= link_to t('layout.footer.thinknetica'), 'https://thinknetica.com' %>
  </p>
</footer>
</body>
</html>
