<!DOCTYPE html>
<html>
<head>
  <title><%= t('layout.header.title') %></title>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
  <%= javascript_importmap_tags %>
</head>

<body>
<header id="header" class="header d-flex align-items-center position-relative">
  <div class="container-fluid container-xl position-relative d-flex align-items-center justify-content-between">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">

      <%= link_to t('layout.header.title'), root_path, class: "navbar-brand" %>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <% if user_signed_in? %>
            <li class="nav-item">
              <span class="navbar-text">
                <%= t('layout.header.welcome', name: current_user.full_name) %>
              </span>
            </li>
            <li class="nav-item">
              <%= link_to t('layout.header.logout'), destroy_user_session_path, data: { turbo_method: :delete }, class: "nav-link" %>
            </li>
            <% if current_user.admin? %>
              <li class="nav-item">
                <%= link_to t('layout.header.admin_tests'), admin_tests_path, class: "nav-link" %>
              </li>
            <% end %>
          <% else %>
            <li class="nav-item">
              <%= link_to t('layout.header.login'), new_user_session_path, class: "nav-link" %>
            </li>
          <% end %>
        </ul>
      </div>
    </nav>
    <nav id="navmenu" class="navbar navbar-expand-lg navbar-light bg-light">
      <div class="container-fluid">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link" href="#hero">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#about">About</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#services">Services</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#portfolio">Portfolio</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#team">Team</a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Dropdown
              </a>
              <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                <li><a class="dropdown-item" href="#">Dropdown 1</a></li>
                <li class="dropdown-submenu">
                  <a class="dropdown-item dropdown-toggle" href="#">Deep Dropdown</a>
                  <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="#">Deep Dropdown 1</a></li>
                    <li><a class="dropdown-item" href="#">Deep Dropdown 2</a></li>
                    <li><a class="dropdown-item" href="#">Deep Dropdown 3</a></li>
                    <li><a class="dropdown-item" href="#">Deep Dropdown 4</a></li>
                    <li><a class="dropdown-item" href="#">Deep Dropdown 5</a></li>
                  </ul>
                </li>
                <li><a class="dropdown-item" href="#">Dropdown 2</a></li>
                <li><a class="dropdown-item" href="#">Dropdown 3</a></li>
                <li><a class="dropdown-item" href="#">Dropdown 4</a></li>
              </ul>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#contact">Contact</a>
            </li>
          </ul>
          <i class="mobile-nav-toggle d-xl-none bi bi-list"></i>
        </div>
      </div>
    </nav>


  </div>
</header>

<main class="container mt-4">
  <%= flash_messages %>
  <%= yield %>
</main>

<footer class="footer mt-auto py-3 bg-light">
  <div class="container">
    <p>&copy;<%= t('layout.footer.copyright', year: current_year) %></p>
    <p>
      <%= github_url('vitaly-andr', 'test-guru', t('layout.footer.github')) %>
    </p>
    <p>
      <%= link_to t('layout.footer.thinknetica'), 'https://thinknetica.com' %>
    </p>
  </div>
</footer>
</body>
</html>
